{{ define "mainContent" }}
<div class="feed">
	<div class="title-and-nav">
		<h1 class="title">Mogged By The Machine</h1>
		<p class="subtitle">
		<p><i>If not Beautiful and Useful</i></p>
		<p><i>I'll take Useless and Beautiful</i></p>
		<p><i>And settle for Useful and Ugly</i></p>
		<p><i>But no more Ugly and Useless.</i></p>
		<p>
		<div class="ballsack">
			<svg viewBox="0 0 100 100" xmlns="https://www.w3.org/2000/svg">
				<circle class="roll roll-grey" fill="grey" r="10"/>
				<circle class="roll roll-black" r="10"/>
				<circle class="roll roll-red" fill="#D94427" r="10"/>
				<g id="btn-trigger" cursor="pointer">
					<circle cx="50" cy="50" r="25" fill="transparent" />
					<text x="50" y="50" text-anchor="middle" style="pointer-events: none"dominant-baseline="middle" font-family="Arial" font-size="6" fill="black">
						Find out what you are...	
					</text>
				</g>
				<text id="display-text" style="opacity: 0" x="50" y="50" text-anchor="middle" dominant-baseline="middle" font-family="Arial" font-size="12" fill="black">
					you're gay...
				</text>
			</svg>
		</div>
	</div>
	<div class="posts">	
		{{ range . }}
			{{ template "post-card" . }}
		{{ end }}
	</div>
</div>
<script>
	const button = document.getElementById('btn-trigger');
	const target = document.getElementById('display-text');

	button.addEventListener('click', function() {
		button.classList.toggle('hide-text');
		target.classList.toggle('show-text');
	});
</script>
{{ end }}
