{{ define "mainContent" }}
<div class="feed">
	<div class="title-and-nav-container">
		<div class="title-and-nav">
			<h1 class="title"><p class="test">Mogged By The Machine</p></h1>
			<p class="subtitle">
				<p><i>If not Beautiful and Useful</i></p>
				<p><i>I'll take Useless and Beautiful</i></p>
				<p><i>And settle for Useful and Ugly</i></p>
				<p><i>But no more Ugly and Useless.</i></p>
			</p>
			<div class="socials">
				<a href="https://github.com/sjohn399" target="_">Github</a>
				<a href="https://x.com/samjohnson399" target="_">Twitter</a>
				<a href="mailto:nineteenthbrumaire@gmail.com">Email</a>
			</div>
			<div class="llm-input">
				<input id="query" type="text" style="width: 100%; height: 40px; font-size: 16px; padding-left: 5px" placeholder="Ask anything..." />
				<button id="query-button">&#10140;</button>
			</div>
			<div class="ballsack">
				<svg viewBox="0 0 100 100" xmlns="https://www.w3.org/2000/svg">
					<circle class="roll roll-grey" fill="grey" r="10"/>
					<circle class="roll roll-black" r="10"/>
					<circle class="roll roll-red" fill="#D94427" r="10"/>
					<text id="display-text" style="opacity: 0;" x="50" y="50" text-anchor="middle" dominant-baseline="middle" font-size="4" fill="black">
						<tspan class="thinking-man">🤔</tspan><tspan>...</tspan><tspan id="thinking-text">Thinking</tspan><tspan>...</tspan><tspan class="thinking-man">🤔</tspan>
					</text>
					<text id="answer" style="opacity: 0;" x="50" y="50" text-anchor="middle" dominant-baseline="middle" font-size="4" fill="black">
						DEEZ NUTS
					</text>
				</svg>
			</div>
		</div>
	</div>
	<div class="posts">	
		{{ range . }}
			{{ template "post-card" . }}
		{{ end }}
	</div>
</div>
<script>
	const input = document.getElementById('query') 
	const button = document.getElementById('query-button') 
	const targetContainer = document.getElementById('display-text');
	const answer = document.getElementById('answer');
	const target = document.getElementById('thinking-text');

	const text = [
		"Making a plan",
		"Comparing qualia",
		"Asking the great wizard",
		"Goblin Mode",
		"npm install is-even",
		"forking chromium",
		"suckin dem toe-kens",
		"...wait",
		"I found dem",
		"or should I say ds?",
	]; 

	let textIdx = 0;
	let inProcess = false;

	const answerQuestionEvent = new CustomEvent('answerQuestion', {})

	targetContainer.addEventListener('answerQuestion', function() {
		answer.classList.remove("hide-text");
		answer.classList.add("answer-animation");
		textIdx = 0;
		inProcess = false;
	})

	target.addEventListener('animationend', function(ev) {
		if (textIdx < text.length) {
			if (ev.animationName == "hide-text") {
				target.textContent = text[textIdx];
				textIdx++;
				target.classList.remove('hide-text');
				target.classList.add('show-text');
			} else if (ev.animationName == "show-text") {
				target.classList.remove('show-text');
				target.classList.add('hide-text');
			}
		} else {
			targetContainer.classList.remove('show-text');
			targetContainer.classList.add('hide-text');
			target.classList.remove('show-text');
			targetContainer.classList.add('hide-text');
			targetContainer.dispatchEvent(answerQuestionEvent);
		}
	});
	
	const startQuery = (ev) => {
		event.preventDefault();
		if (!inProcess) {
			inProcess = true;
			answer.classList.remove("show-text");
			answer.classList.remove("answer-animation");

			targetContainer.classList.remove('hide-text');
			targetContainer.classList.add('show-text');

			target.classList.remove('hide-text');
			target.textContent = "Thinking";
			target.classList.add('hide-text');
		}
	}

	button.addEventListener('click', startQuery);

	input.addEventListener('keydown', function(ev) {
		 if (ev.key == "Enter") {
			 startQuery(ev)
		 }
	});
</script>
{{ end }}
