{{ define "mainContent" }}
<div class="feed">
	<div class="title-and-nav-container">
		<div class="title-and-nav">
			<h1 class="title"><p class="test">Mogged By The Machine</p></h1>
			<p class="subtitle">
				<p><i>If not Beautiful and Useful</i></p>
				<p><i>I'll take Useless and Beautiful</i></p>
				<p><i>And settle for Useful and Ugly</i></p>
				<p><i>But no more Ugly and Useless.</i></p>
			<p>
			<div class="socials">
				<a href="https://github.com/sjohn399" target="_">Github</a>
				<a href="https://x.com/samjohnson399" target="_">Twitter</a>
				<a href="mailto:nineteenthbrumaire@gmail.com">Email</a>
			</div>
			<div>
				<input id="query" type="text" style="width: 100%; height: 40px; font-size: 16px; padding-left: 5px" placeholder="Ask anything..." />
			</div>
			<div class="ballsack">
				<svg viewBox="0 0 100 100" xmlns="https://www.w3.org/2000/svg">
					<circle class="roll roll-grey" fill="grey" r="10"/>
					<circle class="roll roll-black" r="10"/>
					<circle class="roll roll-red" fill="#D94427" r="10"/>
					<text id="display-text" style="opacity: 0;" x="50" y="50" text-anchor="middle" dominant-baseline="middle" font-size="4" fill="black">
						<tspan class="thinking-man">🤔</tspan><tspan>...</tspan><tspan id="thinking-text">Thinking</tspan><tspan>...</tspan><tspan class="thinking-man">🤔</tspan>
					</text>
				</svg>
			</div>
		</div>
	</div>
	<div class="posts">	
		{{ range . }}
			{{ template "post-card" . }}
		{{ end }}
	</div>
</div>
<script>
	const input = document.getElementById('query') 
	const targetContainer = document.getElementById('display-text');
	const target = document.getElementById('thinking-text');

	/*
	const text = [
		"Making a plan",
		"Comparing qualia",
		"Asking the great wizard",
		"Goblin Mode",
		"Downgrading plan.",
		"npm install is-even",
		"forking chromium",
		"suckin dem toe-kens"
		"...wait",
		"I found the answer",
	]; 
	*/

	const text = [
		"Yoooo dude",
		"dude"
	]

	let textIdx = 0;

	const answerQuestionEvent = new CustomEvent('answerQuestion', {})

	targetContainer.addEventListener('answerQuestion', function() {
		console.log("here");
	})

	target.addEventListener('animationend', function(e) {
		if (textIdx < text.length) {
			if (e.animationName == "hide-text") {
				target.textContent = text[textIdx];
				textIdx++;
				target.classList.remove('hide-text');
				target.classList.add('show-text');
			} else if (e.animationName == "show-text") {
				target.classList.remove('show-text');
				target.classList.add('hide-text');
			}
		} else {
			target.classList.remove('show-text')
			target.classList.add('hide-text');
			targetContainer.classList.add('hide-text');
			document.dispatchEvent(answerQuestionEvent);
		}
	});
	
	input.addEventListener('keydown', function() {
		 if (event.key == "Enter") {
			 event.preventDefault();
			 targetContainer.classList.toggle('show-text');
			 target.classList.toggle('show-text');
		 }
	});
</script>
{{ end }}
